
<div class="p-6">

  <h2 class="text-xl font-bold mb-4">
  Orders
  </h2>


  <app-search-box
    [placeholder]="'Search orders...'"
    (searchChange)="onSearch($event)">
  </app-search-box>

  <app-table
    [data]="pagedOrders()"
    [columns]="columns"
    [actions]="actions"
    [loading]="ordersResource.isLoading()"
    (actionClick)="handleAction($event)">
  </app-table>

  <app-pagination
    [totalRecords]="totalRecords()"
    [page]="page()"
    [pageSize]="pageSize()"
  ></app-pagination>


</div>
