
<div class="p-6">


<div class="page-header">

    <h2>Orders</h2>

    <div class="header-actions">

        <button
            mat-raised-button
            color="accent"
            [routerLink]="['/admin/orders/import']">

            <mat-icon>

                upload

            </mat-icon>

            Import Excel

        </button>

        <button
            mat-raised-button
            color="primary"
            [routerLink]="['/admin/orders/create']">

            <mat-icon>

                add

            </mat-icon>

            Add Order

        </button>

    </div>

</div>


  <app-search-box
    [placeholder]="'Search orders...'"
    (searchChange)="onSearch($event)">
  </app-search-box>

  <app-table
    [data]="pagedOrders()"
    [columns]="columns"
    [actions]="actions"
    [loading]="ordersResource.isLoading()"
    [statusOptions]="statusOptions"
    (statusChange)="changeStatus($event.id, $event.status)"
    (actionClick)="handleAction($event)">
  </app-table>

<app-pagination
  [totalRecords]="totalRecords()"
  [page]="page()"
  [pageSize]="pageSize()"
  (pageChange)="onPageChange($event)">
</app-pagination>


</div>
